body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
th, td {
  background-color: powderblue;
}
#stdInput{
  width: 18em;
}
.buttonOrange
{
    background-color: orange;
    text-align: center;
    opacity: 0.6;
    transition: 0.2s;
}
.buttonOrange:hover {opacity: 1}
.buttonRed
{
    background-color: red;
    text-align: center;
    opacity: 0.6;
    transition: 0.2s;
}
.buttonRed:hover {opacity: 1}
.container {
  display: grid;
  grid-template-columns: 100px auto auto;
                        
  padding: 5px;
  gap: 5px;  
}
.center {
  display: grid;
  text-align: center; /* Centers inline content within grid items */
  grid-template-columns: auto;
  padding: 5px;
  gap: 5px;
  justify-items: center; /* Centers grid items horizontally */
  align-items: center; /* Centers grid items vertically */
}
