body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
    color: brown;
    text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
     

}
th, td {
  background-color: powderblue;
}
#stdInput{
  width: 18em;
}
.container {
  display: grid;
  grid-template-columns: 100px auto auto;
                        
  padding: 5px;
  gap: 5px;  
}
.center {
  display: grid;
  text-align: center; /* Centers inline content within grid items */
  grid-template-columns: auto;
  padding: 5px;
  gap: 5px;
  justify-items: center; /* Centers grid items horizontally */
  align-items: center; /* Centers grid items vertically */
}
